.D12{
    height:800px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.common{
    height: 750px;
    width: 700px;
    background-color: rgb(255, 255, 255);
     position: relative;
     border-radius: 30px;
    margin: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.common:hover{
  
    box-shadow: 1px 1px 15px rgb(241, 239, 239),-1px 1px 15px rgb(241, 239, 239),1px -1px 15px rgb(241, 239, 239),-1px -1px 15px rgb(241, 239, 239);
    transition: all 1s;
    transform: scale(1.03);
}
#D121{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#d12im1{
    height: 460px;
    width: 92%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 25px;
    
}
#d12M1{
    height: 460px;
    width: 100%;
    border-radius: 30px;
}
#d121p1{
    position: absolute;
    left:25px;
}

#D122{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    font-size:30px;
    color: rgb(102, 104, 107);
}
#d122p1{
    position: absolute;
    left: 25px;
}
#d122p2{
    position: absolute;
    left: 510px;
}
#D123{
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 25px;
    
}
#d123p1{
    position: absolute;
    left: 590px;
}
#D124{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 26px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    color: rgb(117, 120, 123);
    border-top: solid 1px rgb(208, 202, 202);
}
#d124M1{
    height: 40px;
    width:100px;
    position: absolute;
    top: 680px;
    left: 25px;
}
#d124p1{
    position: absolute;
    top: 645px;
    left: 120px;
}





#D1211{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#d121im1{
    height: 460px;
    width: 92%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 25px;
    
}
#d121M1{
    height: 460px;
    width: 100%;
    border-radius: 30px;
}
#d1211p1{
    position: absolute;
    left:25px;
}

#D1212{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    font-size:30px;
    color: rgb(102, 104, 107);
}
#d1212p1{
    position: absolute;
    left: 25px;
}
#d1212p2{
    position: absolute;
    left: 510px;
}
#D1213{
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 25px;
    
}
#d1213p1{
    position: absolute;
    left: 590px;
}
#D1214{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 26px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    color: rgb(117, 120, 123);
    border-top: solid 1px rgb(208, 202, 202);
}
#d1214M1{
    height: 40px;
    width:100px;
    position: absolute;
    top: 680px;
    left: 25px;
}
#d1214p1{
    position: absolute;
    top: 645px;
    left: 120px;
}



#D1221{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#d122im1{
    height: 460px;
    width: 92%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 25px;
    
}
#d122M1{
    height: 460px;
    width: 100%;
    border-radius: 30px;
}
#d1221p1{
    position: absolute;
    left:25px;
}

#D1222{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    font-size:30px;
    color: rgb(102, 104, 107);
}
#d1222p1{
    position: absolute;
    left: 25px;
}
#d1222p2{
    position: absolute;
    left: 510px;
}
#D1223{
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 25px;
    
}
#d1223p1{
    position: absolute;
    left: 590px;
}
#D1224{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 26px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    color: rgb(117, 120, 123);
    border-top: solid 1px rgb(208, 202, 202);
}
#d1224M1{
    height: 40px;
    width:100px;
    position: absolute;
    top: 680px;
    left: 25px;
}
#d1224p1{
    position: absolute;
    top: 645px;
    left: 120px;
}